
<h3>Ask your coach anything:</h3>

<form action="/answer" class="input-group mb-3">

  <input type="text" name="question" class="form-control">
  <!-- name="question" because what you get here is a question -->
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
